/* http://www.colourlovers.com/palette/2060/Post-It */

* {
  /* border: 1px black solid; */
  font-family: 'Arial', sans-serif;
  /* font-size: 2.5vw; */
}

body {
  background-color: rgb(236, 236, 236) !important;
}

/* font-family: 'Hi Melody', cursive;
font-family: 'Gamja Flower', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Dekko', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Just Me Again Down Here', cursive;
font-family: 'Atma', cursive;

 */

#header {
  text-align: center;
  padding-top: 0;
  margin-bottom: 0;
}

#tooltip {
  padding-top: 0 !important;
  /* allows center position, dont delete ;) */
  margin: 0 auto; 
  /* margin-bottom: 5px; */
  text-align: center;
  color: grey;
  font-size: 1.5vw;
  width: 9vw;
  height: 3vw;
}

#tooltip:hover {
  cursor: pointer;  
  background-color: rgb(196, 249, 141);
  width: 11vw;
  height: 3vw;
  color: black;
  transition: 0.7s;
  
}

#tooltiptext {  
  display: none;
  margin: 0 auto;   
  /* margin-bottom: 10px; */
  position: absolute;
  /* top:0; */
  left:0;
  right:0;
  /* float: right; */
  font-size: 2vw;
  text-align: center;
  z-index: 1 !important;
  background-color: rgb(196, 249, 141);
  padding: 5px;
  /* width: 72vw;
  height: 20vw;    */

}

.App {
  margin-top: 10px;  
}

#header {
  font-size: 3vw;
}

textarea {
  min-width: 20vw;
  min-height: 18vw;
  border: none;
  outline:none; 
}

::placeholder {
  /* text-align: center; */
  opacity: 0.5;
  margin-top: 20px !important;
}

#input {
  font-size: 1.5vw;
  font-family: 'Dekko', cursive !important;
}


#addInfo {
  text-align: center;
  margin-top: 100px;
  }

#sub-button {
  /* border: none; */
  border: 1px solid rgb(182, 247, 172);
  cursor: pointer;
  outline:none;
  font-size: 2vw;
  opacity: 0.7;
  background-color: rgb(196, 249, 141);  
}
#sub-button:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

#delAll{
  border: none;
  cursor: pointer;
  outline:none;
  float: right;
  font-size: 2vw;
  opacity: 0.7;
  background-color: rgb(252, 168, 212); ;
}

#delAll:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.memo{
  margin: 1.5vw 1vw 1vw 1vw;
  /* width: 20vw; */
  /* height: 20vw; */
  width: 29%;
  height: 10%;
  font-size: 1.5vw;
  -webkit-transition: font-size 0.35s; /* For Safari 3.1 to 6.0 */
  transition: 0.35s;
  font-family: 'Dekko', cursive !important;
  word-wrap: break-word; 
 
  background-color: rgb(255,255,165);
  /* http://www.colourlovers.com/color/FFFFA5/PostIt_Gelb */
 
  box-shadow: 0 10px 8px 0 rgba(0,0,0, 0.2), 0 10px 20px 0 rgba(0,0,0, 0.19);

  float: left; 
}

.memo:hover {  
  transform: scale(1.2);
  border: 1px solid rgba(130,128,130,0.37);
  text-overflow: inherit;  
}

.date {
  font-family: 'Dekko', cursive !important;
  padding: 5px 10px 0 10px;
}

.note {
  /* border: 1px #ddd solid; */
  border-radius: 5px;
  padding: 2.5px 10px 5px 10px;
  font-family: 'Dekko', cursive !important;
  /* margin: 0;   */
}

.delBtn, .editBtn {
  /* background-color: rgb(248, 248, 124, 0.75);*/
  box-shadow: 0px 0px 1px 1px rgba(51, 51, 51, 0.5);
  border: none;
  /* border-radius: 5px; */
  text-align: right;  
  box-shadow: 1px;
  transform: none;
  font-size: 1.25vw;
  margin: 2px 2px 5px 8px;
  padding: 1px 4px;
  float: left;
  box-shadow: inset 0 0 0 50px rgba(51, 51, 51, 0.15);
  /* border: 1px black solid; */
  /* -webkit-transition: font-size 0.5s; /* For Safari 3.1 to 6.0 */
/* transition: font-size 0.5s; */
}

.delBtn:hover, .editBtn:hover {
  cursor: pointer;
  /* font-size: 2.25vw; */
  font-weight: 600;
}

#cover {
  display: none;
 width: 100%;
 height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1;
 
}

#alertMsg, #alertMsg2, #alertMsg3 {
  /* shadow */
  /* -webkit-box-shadow: 7px 9px 5px 3px rgba(130,128,130,0.37);
  -moz-box-shadow: 7px 9px 5px 3px rgba(130,128,130,0.37);
  box-shadow: 7px 9px 5px 3px rgba(130,128,130,0.37); */
  /* shadow */
  
  display: none; 
  position: relative;
  padding-top: 10px;
  padding-bottom: 0;
  margin-top: 20%;
  z-index: 2;  
  background-color: rgb(194, 194, 193);
  text-align: center;
  width: 45%;
  height: 6%;   
}

#alertMsg3 {
  background-color: rgb(194, 194, 193);
}


#question, #question2, editField {
  height: 50%;
  padding: 0;
  margin: 0;
  margin-top: 0.5%;
  margin-bottom: 2%;
}

#yesBtn, #noBtn, #yesBtn2, #noBtn2, #cancelEdit, #saveEdit {
  /* border: 1px black solid; */
  width: 50%;
  height: 50%;
  position: relative;
  top:0;
  margin-bottom: 0;  
  padding: 0;
}

#yesBtn, #yesBtn2, #cancelEdit {
  background-color: rgb(252, 168, 212);  
}

#noBtn, #noBtn2, #saveEdit {
  background-color: rgb(196, 249, 141);   
}

#yesBtn:hover, #noBtn:hover, #yesBtn2:hover, #noBtn2:hover, #cancelEdit:hover, #saveEdit:hover  {
  cursor: pointer;    
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
}



.pink, .green, .blue, .yellow {
  float: right;  
  width: 1.25vw;
  height: 1.25vw;
  /* margin-right: 1vw;  
  margin-top: 0.75vw;
  margin-bottom: 0.5vw; */
  margin: 0.5vw;
  /* opacity: 0.5; */
}

.pink:hover, .green:hover, .blue:hover, .yellow:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}

.yellow {
  background-color: rgb(255,255,165);
  /* border: 1px solid black; */
}

.pink {
  background-color: rgb(252, 168, 212);  
  /* (242, 117, 173) */
}

.green {
  background-color: rgb(196, 249, 141);
}

.blue {
  background-color: rgb(34, 190, 230);
}
